<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="contenedor-titulo">
        <h1>Formulario</h1></div>
    <div>
        <form action="/formulario" method="post">
            <label for="nombre">Nombre: </label>
            <input id="nombre" name="nombre" type="text"><br><br>
            <label for="precio">Precio: </label>
            <input id="precio" name="precio" type="text"><br><br>
            <label for="tipo">Tipo_de_Producto: </label>
            <input id="tipo" name="tipo" type="text"><br><br>
            <div>
                <button type="submit">Enviar</button>
            </div>
        </form>
        
    </div>
</body>
</html>